:root {
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --prinary-white-color: #ffffff;
  --prinary-black-color: #000000;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}

body {
  background-color: var(--prinary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* HEADER */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--prinary-black-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link,
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-list :hover,
.header-list :focus {
  color: var(--accent-text-color);
}

.header-contacts :hover,
.header-contacts :focus {
  color: var(--accent-text-color);
}

/* HERO */

.hero-section {
  background-color: var(--second-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--prinary-white-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--prinary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
}

.hero-btn :hover,
.hero-btn :focus {
  color: var(--accent-text-color);
}

/* FEATURES-SECTION */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* EXAMPLES-SECTION */
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* TEAM-SECTION */

.team-section {
  background-color: var(--third-background-color);
}

.team-member-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-member-jobtitle {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--second-background-color);
}

.logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--prinary-white-color);
  text-decoration: none;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--prinary-white-color);
}

.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* PORTFOLIO */

/* MENU-SECTION */

.portfolio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}

.menu-portfolio :hover,
.menu-portfolio :focus {
  background-color: var(--accent-text-color);
  color: var(--prinary-white-color);
}

/* PORTFOLIO-SECTION */

.portfolio-examples-title {
  font-weight: 700;
  font-size: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-category-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
